[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lightreader
[access "refs/for/refs/*"]
	read = group user/lightreader
	push = group user/lightreader
	label-Code-Review = -2..+2 group user/lightreader
	label-Verified = -1..+1 group user/lightreader
	rebase = group user/lightreader
	removeReviewer = group user/lightreader
	submit = group user/lightreader
[access "refs/heads/*"]
	read = group user/lightreader
	create = group user/lightreader
	push = +force group user/lightreader
	pushMerge = group user/lightreader
[access "refs/tags/*"]
	push = group user/lightreader
	push = +force group user/lightreader
